.header {
    padding: 10px 30px; 
    background-color: rgb(35, 35, 35);
    color: white;

    #links {
        flex-grow: 1;
        padding-top: 28px;
        display: flex;
        gap: 20px;
        justify-content: right;
        font-size: 15px;

        .link {
            cursor: pointer;
            &:hover {
                color: rgb(182, 65, 65);
            }
        }
    }
}

.header-mobile {
    padding: 10px 10px;
}

.drop-header {
    transform: translateY(0);
    transition: all 0.7s ease-out;
    transition-delay: 0.2s;
    position: fixed;
}

.hide-header {
    transform: translateY(-100%);
    transition: all 0.7s ease-out;
    transition-delay: 0.2s;
}
