<!-- https://www.conceptart.cgmasteracademy.com/courses/128-absolute-beginners -->
<div [class.drop-header]="visible" [class.hide-header]="!visible" class="w-full z-50 fixed">
  <div [class.transparent-header]="transparentHeader" [class.opaque-header]="!transparentHeader" id="header-main">
  <!-- Desktop Header -->
    <div class="m-auto header drop-shadow-lg md:flex hidden w-full lg:w-2/3 bg-transparent">
        <div id="logo bg-transparent">
            <img src="./assets/banner.png" alt="COALITION Logo" aria-hidden="true" width="400px">
        </div>
        <div id="links" class="items-center">
          <button mat-button>
            <a
              class="link"
              routerLink="/"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Home</a
            >
          </button>
    
          <button mat-button [matMenuTriggerFor]="games">Games</button>
          <mat-menu #games="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="arma">Arma</button>
            <button mat-menu-item>
              <a
                class="link"
                routerLink="/games"
                routerLinkActive="active"
                ariaCurrentWhenActive="page">
                Other Games
              </a>
            </button>
          </mat-menu>
    
          <mat-menu #arma="matMenu">
            <button mat-menu-item>
              <a
                class="link"
                routerLink="/cfc"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Fight Club</a
              >
            </button>
            <button mat-menu-item>
              <a
                class="link"
                href="https://coalitiongroup.net/wiki/index.php/Main_Page"
                target="_blank"
                >Wiki</a
              >
            </button>
          </mat-menu>
    
          <button mat-button>
            <a
              class="link"
              routerLink="/stats"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Stats</a
            >
          </button>
          <button mat-button>
            <a
              class="link"
              routerLink="/events"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Events</a
            >
          </button>
          <button mat-button>
            <a class="link" href="https://discord.gg/the-coalition" target="_blank"
              >Discord</a
            >
          </button>
          <svg width="10" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <line x1="5" x2="5" y1="0" y2="25" stroke="white" stroke-width="2"></line>
          </svg>
        </div>
          <div class="login p-5">
            <button class="bg-red-900 text-white font-semibold py-2 px-5 rounded"> <!-- needs login svg added to button imo -->
                Login
            </button>
          </div>
        </div>
    </div>

    <!-- Mobile Header -->
    <div class="m-auto header header-mobile dropshadow-lg md:hidden flex w-full">
        <a id="logo" class="py-2 pl-6" routerLink="/">
            <img src="./assets/logo_cropped.png" alt="COALITION Logo" aria-hidden="true" width="50px">
        </a>
        
        <button id="menu" class="place-self-center my-auto ml-auto justify-self-end pr-6" (click)="mobileMenuClicked()">
            <svg [cIcon]="icons.cilHamburgerMenu" width="50"></svg>
        </button>
    </div>
</div>

<div id="mobileMenu" class="flex flex-col justify-start backdrop-blur-md bg-gradient-to-r from-neutral-800/60 to-neutral-900/60" [class.drop-mobile-menu]="mobileMenuVisible" [class.hide-mobile-menu]="!mobileMenuVisible">
    <a class="w-full text-center text-4xl text-white bg-transparent" routerLink="/stats" routerLinkActive="active" ariaCurrentWhenActive="page">Stats</a>
    <a class="w-full text-center text-4xl text-white bg-transparent" routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page">Events</a>
    <a class="w-full text-center text-4xl text-white bg-transparent" href="https://discord.gg/the-coalition" target="_blank">Discord</a>
</div>
