.header {
    padding: 10px 30px; 
    color: white;

    #links {
        flex-grow: 1;
        padding-top: 28px;
        display: flex;
        gap: 20px;
        justify-content: right;
        font-size: 15px;

        .link {
            cursor: pointer;
            &:hover {
                color: rgb(182, 65, 65);
            }
        }
    }
}

.header-mobile {
    padding: 10px 10px;
}

.drop-header {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

.hide-header {
    transform: translateY(-100%);
    transition: all 0.2s ease-in;
}

.transparent-header {
    @apply bg-gradient-to-r from-neutral-800/60 to-neutral-900/60 backdrop-blur-md
}

.opaque-header {
    @apply bg-gradient-to-r from-neutral-800 to-neutral-900
}

.drop-mobile-menu {
    transform: translateY(0);
    transition: 0.2s ease-in-out;
}

.hide-mobile-menu {
    transform: translateY(-100%);
    display: none;
    transition: 0.2s ease-in;
}
