<div id="header">
    <div id="logo">
        <img src="/assets/banner.png" alt="COALITION Logo" aria-hidden="true" width="400px">
    </div>
    <div id="links">
        <div class="link" routerLink="/home" routerLinkActive="active">Home</div>
        <div class="link" routerLink="/home" routerLinkActive="active">Stats</div>
        <div class="link" routerLink="/home" routerLinkActive="active">AAR</div>
        <div>|</div>
        <div class="link" routerLink="/home" routerLinkActive="active">Login Button (Steam SSO? Discord?)</div>
    </div>
</div>