<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="home text-white justify-center content-center text-center">
  <div class="relative h-screen">
    <div class="absolute inset-0 bg-cover bg-center justify-center content-center bg-fixed" style="background-image: url('.\assets\images\1874880_20240426213657_1.png'); background-repeat: no-repeat;"></div>
    <div class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center flex-col">
      <img class="h-1/2" src="./assets/Coalition.png"/>
      <div>
        <p class="text-white text-6xl font-bold font-serif z-0">ACCESIBLE<br>MILSIM</p>
        <p class="text-white text-2xl font-serif mt-2">and gaming</p>
      </div>
    </div>
    <!-- <div class="absolute inset-0 bg-cover bg-center justify-center content-center bg-fixed z-10" style="background-image: url('./assets/multi-piece/Coalition_Reforger_Cutout_USSR_Tunnel.png'); background-repeat: no-repeat;"></div> -->
  </div>

  <div class="xl:flex-row xl:flex relative justify-center">
    <div class="xl:w-1/5 wide:block hidden">
      <img src=".\assets\images\1874880_20240426213657_1.png" class="lg:hidden object-cover object-left xl:block h-full -z-10">
    </div>

    <!-- <img src="./assets/images/saint_pierre.png" class="lg:hidden xl:block absolute right-0"> -->
    <div class="rounded-md border-y-4 wide:border-x-4 border-neutral-200 wide:w-3/5 bg-neutral-800">
      <section class="px-10 py-5 relative overflow-hidden">
        <div class="flex flex-col lg:flex-row">
          <div class="flex-none w-full lg:w-1/2">
            <img class="object-cover h-full w-auto rounded-3xl" src="./assets/images/1874880_20240517211236_1.png" alt="">
          </div>
          <div class="flex-1 w-full lg:w-1/2 content-center">
            <div class="px-10 justify-center">
              <h2 class="text-white text-5xl font-bold font-sans">Who we are</h2>
              <br>
              <p class="mb-12 text-xl">COALITION was founded in 2016 as an 18+ gaming community for ArmA and other milsim games. Since then the community has since grown to house thousands of international players across multiple multiplayer games including : DayZ, War Thunder, Squad, Reforger, and DCS.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>