// Tab Content //

.stats-tab-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

// Table //

:host ::ng-deep .mat-mdc-table {
    border-spacing: 2px;
    border-collapse: separate;
}

.row-selected > .mdc-data-table__cell {
    background: var(--coal-bg-selected) !important;
    color: black !important;
    box-shadow: 0px 0px 10px  0px white;
    z-index: 20;
}

:host ::ng-deep .mat-mdc-header-row {
    height: 1.5em;
}

:host ::ng-deep .mat-mdc-header-cell {
    background: var(--coal-bg-opacity-primary) !important;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-right-color: transparent;
    color: rgb(148, 148, 148);
    text-align: center;
}

:host ::ng-deep .mat-mdc-header-cell:hover {
    text-shadow: 0px 0px 4px rgb(255, 255, 255, 1);
    color: white;
}

:host ::ng-deep .mat-mdc-header-cell:has(> .mat-sort-header-sorted) {
    background: var(--coal-bg-selected) !important;
    color: black !important;
    box-shadow: 0px 0px 10px  0px white;
    z-index: 20;
}

:host ::ng-deep .mat-mdc-row {
    color: white;
    font-size: 25px;
    height: 4em;  
}

:host ::ng-deep .mat-mdc-row:hover {
    background: var(--coal-bg-opacity-secondary--active);   
    text-shadow: 0px 0px 4px rgb(255, 255, 255, 1);
}

:host ::ng-deep .mdc-data-table__cell {
    background: var(--coal-bg-opacity-secondary) !important;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    color: inherit;
    text-align: center;
}

// Selected Info //

.selected-info {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 1px;
}

.selected-info-header {
    color: rgb(148, 148, 148);
    font-size: 35px;
    height: 2em;
    background: var(--coal-bg-opacity-primary);
    display: flex;
}

.selected-info-header-no-selected-item {
    font-size: 15px;
}

.selected-info-header > div {
    color: white;
    margin: auto;
    text-shadow: 0px 0px 4px rgb(255, 255, 255, .3);
}

.selected-info-content {
    color: white;
    height: fit-content;
    background: var(--coal-bg-opacity-secondary);
}

.selected-info-subheader {
    font-size: 22px;
    color: white;
    text-shadow: 0px 0px 4px rgb(255, 255, 255, .3);
    background: var(--coal-bg-opacity-primary);
    height: 1.25em;
}

.selected-info-subheader > span {
    vertical-align: middle;
}

.statistics-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
}