.game-card {
    height: 200px;
    width: 200px;
    background-color: white;
    align-content: center;
}

.game-card-img { // Change to .game-card > img
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    margin: auto;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.2s;
}

.game-card:hover .game-card-img {
    transform: scale(2);
    transition-property: transform;
    transition-duration: 0.2s;
}

.game-section{
    height: 400px;
    position: relative;
    overflow: hidden;
}

.game-section > img {
    object-fit: none;
    position: absolute;
    z-index: -1;
}