<section id="gameCards" class="h-dvh flex bg-neutral-900">
    <div class="grid grid-cols-2 gap-4 content-center justify-items-center w-2/3 mx-auto">
        <div class="game-card">
            <div class="game-card-img">
                <a href="games#warthunder">WARTHUNDER</a>
            </div>
        </div>
        <div class="game-card">
            <div class="game-card-img">
                <a href="games#dcs">DCS</a>
            </div>
        </div>
        <div class="game-card">
            <div class="game-card-img">
                <a href="games#madden">MADDEN</a>
            </div>
        </div>
        <div class="game-card">
            <div class="game-card-img">
                <a href="games#gamesOfTheWeek">GAMES OF THE WEEK</a>
            </div>
        </div>
        <!-- <div class="game-card col-span-2">

        </div> -->
    </div>
</section>

<section id="warthunder" class="game-section"> 
    <img src="./assets/images/bmp.png">
    <p class="m-auto text-center">WARTHUNDER</p>
</section>

<section id="dcs" class="game-section">
    <img src="./assets/images/btr90.png">
    <p class="m-auto text-center">DCS</p>
</section>

<section id="madden" class="game-section">
    <img src="./assets/images/charlet_bay_dusk.jpg">
    <p class="m-auto text-center">Madden</p>
</section>

<section id="gamesOfTheWeek" class="game-section">
    <img src="./assets/images/lmg.png">
    <p class="m-auto text-center">Games of the Week</p>
</section>