<section id="gameCards" class="h-dvh flex bg-neutral-900">
    <div class="grid grid-cols-2 gap-4 content-center justify-items-center w-2/3 mx-auto">
        <a href="games#warthunder" class="game-card">
            <div class="game-card-img">
                <p>WARTHUNDER</p>
            </div>
        </a>
        <a href="games#dcs" class="game-card">
            <div class="game-card-img">
                <p>DCS<p>
            </div>
        </a>
        <a href="games#madden" class="game-card">
            <div class="game-card-img">
                <p>MADDEN</p>
            </div>
        </a>
        <a href="games#gamesOfTheWeek" class="game-card">
            <div class="game-card-img">
                <p>GAMES OF THE WEEK</p>
            </div>
        </a>
        <!-- <div class="game-card col-span-2">

        </div> -->
    </div>
</section>

<section id="warthunder" class="game-section"> 
    <img src="./assets/images/bmp.png">
    <p class="m-auto text-center">WARTHUNDER</p>
</section>

<section id="dcs" class="game-section">
    <img src="./assets/images/btr90.png">
    <p class="m-auto text-center">DCS</p>
</section>

<section id="madden" class="game-section">
    <img src="./assets/images/charlet_bay_dusk.jpg">
    <p class="m-auto text-center">Madden</p>
</section>

<section id="gamesOfTheWeek" class="game-section">
    <div #otherGames class="flex -z-10 w-full h-full absolute">
        <app-game-of-the-week-card-container #otherGameCard (animationDoneEvent)="startAnimation()"/>
        <app-game-of-the-week-card-container #otherGameCard (animationDoneEvent)="startAnimation()"/>
        <app-game-of-the-week-card-container #otherGameCard (animationDoneEvent)="startAnimation()"/>
        <app-game-of-the-week-card-container #otherGameCard (animationDoneEvent)="startAnimation()"/>
        <app-game-of-the-week-card-container #otherGameCard (animationDoneEvent)="startAnimation()"/>
    </div>

    <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/flex-->
    <!-- <button (click)="cycleGame()">Cycle Game</button> -->
    <p class="m-auto text-center">Games of the Week</p>
</section>

<app-game-of-the-week-card *ngFor="let g of gameImgs" class="hidden" imgSrc={{g}}/>