.card-title {
    font-size: var(--card-title-font-size);
    color: var(--card-title-color);
    font-weight: var(--card-title-font-weight);
    margin-bottom: 20px;
}
.card-value {
    font-size: var(--card-value-font-size);
    font-weight: var(--card-value-font-weight);
    color: var(--card-value-color);
    margin-bottom: 20px;
}
.card-subvalue {
    font-size: var(--card-subvalue-font-size);
    font-weight: var(--card-subvalue-font-weight);
    color: var(--card-subvalue-color);
}

.card-value-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 10px;
}