<div class="mission-info-grid w-full">
    <div class="relative"> <!-- map -->
        <img class="h-[375px]" src="./assets/dev-assets/everon.png">
        <div class="absolute bottom-0 left-0 m-4 bg-neutral-800/60 pr-6 pl-1t">
            <span class="text-7xl italic">Everon</span>
        </div>
    </div>

    <div class="flex flex-col flex-grow"> <!-- Round info-->
        <div class="flex flex-row flex-grow">
            <div class="ml-6 flex flex-col">
                <div class="text-6xl font-bold">{{missionData.missionName}}</div>
                <div class="text-3xl text-neutral-400 italic">By: {{missionData.author}}</div>
                <div class="text-4xl">{{missionData.gamemode}}</div>
                <div class="h-6"></div>
                <div class="">{{startDateString}}</div>
                <div class="">{{startTimeString}} - {{endTimeString}}</div>
            </div>

            <div class="ml-auto text-3xl font-bold flex flex-col gap-1">

                <app-faction-with-flag 
                    *ngFor="let ally of missionData.allies"
                    class="ml-auto" [factionID]="ally" flagSide="{{'left'}}">
                </app-faction-with-flag>
                <div class="ml-auto font-normal">vs</div>
                <app-faction-with-flag 
                    *ngFor="let enemy of missionData.enemies"
                    class="ml-auto" [factionID]="enemy" flagSide="{{'left'}}">
                </app-faction-with-flag>
            </div>
        </div>

        <div class="m-auto">
            <span *ngIf="!missionData.win" class="text-[7.5rem] font-bold text-red-600 tracking-wide">DEFEAT</span>
            <span *ngIf="missionData.win" class="text-[7.5rem] font-bold text-green-600 tracking-wide">VICTORY</span>
            <span *ngIf="missionData.kia" class="text-5xl font-bold text-red-800">(KIA)</span>
        </div>
    </div>

    <div class="flex-shrink">
        <span class="text-3xl ml-4">REPORT</span>
        <div class="w-[500px] h-[1px] bg-white"></div>
    </div>
    <div></div>
    <div class="ml-4">
        <div class="text-2xl"> <!-- Kills -->
            <div class="mb-16 mt-1 inline">
                <app-faction-with-flag [factionID]="missionData.side">
                </app-faction-with-flag>
                <span class="inline text-white"> {{missionData.slot}}</span>
            </div>

            <div class="grid grid-cols-2 grid-rows-3 w-[300px] gap-x-5 text-2xl ml-4">
                <img class="inline h-[1.5em] mr-4" src="./assets/dev-assets/guy.png">
                <div> 
                    <span class="inline font-bold">{{missionData.infKills}}</span>
                    <span class="inline text-neutral-400"> KILLS</span>
                </div>
                <img class="inline h-[1.5em] mr-4" src="./assets/dev-assets/vic.png">
                <div> 
                    <span class="inline font-bold">{{missionData.vicKills}}</span>
                    <span class="inline text-neutral-400"> KILLS</span>
                </div>
                <img class="inline h-[1.5em] mr-4" src="./assets/dev-assets/heli.png">
                <div> 
                    <span class="inline font-bold">{{missionData.heliKills}}</span>
                    <span class="inline text-neutral-400"> KILLS</span>
                </div>
            </div>

            <!-- <div>Kills</div>
            <div>
                <div>
                    <span>Lazz</span>
                    <app-faction-with-flag factionID="fia">
                    </app-faction-with-flag>
                    <span> M242 Bushmaster (M792)</span>
                </div>

                <div>
                    <span>Tanaka</span>
                    <app-faction-with-flag factionID="usarmy">
                    </app-faction-with-flag>
                    <span> M242 Bushmaster (M792)</span>
                    <span class="text-red-600 font-bold">
                        (Friendly Fire)
                    </span>
                </div>

                <div>
                    + 10 other kills
                </div>
            </div> -->
        </div>
    </div>

    <div class="text-2xl ml-6">
        <div>Killed By</div>
        <div *ngFor="let killer of killersToList">
            <div>
                <span>{{killer.name}} </span>
                <app-faction-with-flag [factionID]="killer.side">
                </app-faction-with-flag>
                <span> {{killer.weapon}}</span>
                <span *ngIf="missionData.allies.indexOf(killer.side) != -1" class="text-red-600 font-bold">
                    (Friendly Fire)
                </span>
            </div>
        </div>
        <div *ngIf="missionData.killers.length > 3">
            + {{missionData.killers.length - 3}} other deaths
        </div>
    </div>
</div>