<section id="general" class="w-full">
    <div class="section-header">
        <span class="section-header-title">GENERAL</span>
    </div>

    <div class="section-content grid grid-cols-3 gap-[2px] my-[2px] h-[250px]">
        <app-stat-card>
            <app-circle-bar-stat-card
            title="WINS"
            [value]="winsValue"
            [subValue]="winsSubvalue"
            unit="%"
            >

            </app-circle-bar-stat-card>
        </app-stat-card>
        
        <app-stat-card>
            <app-slide-bar-stat-card
            title="K:D"
            [value]="kdValue"
            [subvalue]="kdSubvalue"
            [statPercentage]="kdStatPercentage"
            >
            </app-slide-bar-stat-card>
        </app-stat-card>

        <app-stat-card>
            <app-slide-bar-stat-card
            title="ACCURACY"
            [value]="accuracyValue"
            [subvalue]="accuracySubvalue"
            [statPercentage]="accuracyStatPercentage"
            unit="%"
            >
            </app-slide-bar-stat-card>
        </app-stat-card>
    </div>
</section>

<section id="last-mission" class="w-full">
    <div class="section-header">
        <span class="section-header-title">LAST MISSION</span>
    </div>

    <div class="section-content bg-neutral-800/40 p-6 my-[2px]">
        <app-mission-card
            [missionData]=mission
        ></app-mission-card>
    </div>
</section>

<section id="bests" class="w-full">
    <div class="section-header">
        <span class="section-header-title">BEST</span>
    </div>

    
    <div class="section-content grid grid-cols-3 gap-[2px] my-[2px] h-[500px]">
        <app-stat-card *ngFor="let card of bestCards">
            <app-slide-bar-stat-card 
                [title]="card.title"
                [value]="card.value"
                [subvalue]="card.subvalue"
                [statPercentage]="card.statPercentage"
                [unit]="card.unit">
            </app-slide-bar-stat-card>
        </app-stat-card>
    </div>
</section>