
.card-title {
    font-size: var(--card-title-font-size);
    color: var(--card-title-color);
    font-weight: var(--card-title-font-weight);
    margin-bottom: 20px;
}
.card-value {
    font-size: var(--card-value-font-size);
    font-weight: var(--card-value-font-weight);
    color: var(--card-value-color);
    margin-bottom: 20px;
    text-shadow: 0px 0px 4px white !important;
}

.card-subvalue {
    font-size: var(--card-subvalue-font-size);
    font-weight: var(--card-subvalue-font-weight);
    color: var(--card-subvalue-color);
}

.card-value-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 10px;
}

.slide-bar {
    border: 2px solid;
    height: 20px;
    width: 300px;
    border-color: white;
    background-color: black;
}

.slide-bar-dot {
    background-color: white;
    width: 25px;
    height: 18px;
    display: block;
    margin: 0, auto
}

div {
    text-shadow: 0px 2px 4px rgb(0, 0, 0, .5);
}

span {
    text-shadow: 0px 2px 4px rgb(0, 0, 0, .5);
}

.card-value span{
    font-size: var(--card-value-font-size);
    font-weight: var(--card-value-font-weight);
    color: var(--card-value-color);
    margin-bottom: 20px;
    text-shadow: 0px 0px 4px rgb(255, 255, 255, .3);
}