
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$CoalitionWebsite-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($CoalitionWebsite-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($CoalitionWebsite-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($CoalitionWebsite-theme);
// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "overlayscrollbars/overlayscrollbars.css";


// https://coreui.io/angular/docs/customize/sass/

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/@coreui/coreui/scss/functions";

// 2. Include any default variable overrides here
$header-color: #fff;
$header-active-color: #fff;
$header-brand-color: #fff;

// 3. Include remainder of required CoreUI stylesheets
@import "../node_modules/@coreui/coreui/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/@coreui/coreui/scss/maps";
@import "../node_modules/@coreui/coreui/scss/mixins";
@import "../node_modules/@coreui/coreui/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/@coreui/coreui/scss/carousel";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`

// 8. Add additional custom code here


html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(45, 45, 45);
    scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
