<div class="home text-white justify-center content-center text-center p-5">
    <div class="relative h-screen">
        <div class="absolute inset-0 bg-auto bg-center justify-center content-center" style="background-image: url('./assets/images/home.png');"></div>
        <div class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center">
            <span class="text-white text-6xl font-bold font-sans">ACCESIBLE MILSIM</span> <br />
        </div>
    </div>
    <hr>
    <div>
        <section class="relative lg:py-20 overflow-hidden">
            <img class="lg:absolute lg:top-0 lg:left-0 h-128 lg:h-auto max-h-screen w-full lg:w-5/12 object-cover" src="./assets/images/1874880_20240517211236_1.png" alt="">
            <div class="container px-4 mx-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-full lg:w-7/12 lg:ml-auto mt-12 mb-20 text-center">
                  <h2 class="text-white text-5xl font-bold font-sans">ABOUT US</h2>
                  <hr class="translate-x-1/2 w-1/2">
                  <br>
                  <span class="mb-12 text-xl">COALITION is an adult gaming community and milsim event host, which was founded in 2016, for ArmA and other milsim games. Formed by veterans, for veterans, the community has since grown to house thousands of international players across DayZ, War Thunder, Squad, Reforger, DCS, and any other multiplayer game which is empowered by community.</span>
                </div>
              </div>
            </div>
          </section>
          <hr>
          <h2 class="text-white text-5xl font-bold font-sans m-2">WHAT WE DO</h2>
          <hr>
          <section class="relative lg:py-20 overflow-hidden">
            <img class="lg:absolute lg:top-0 lg:left-0 h-128 lg:h-auto max-h-screen w-full lg:w-5/12 object-cover" src="./assets/images/btr90.png" alt="">
            <div class="container px-4 mx-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-full lg:w-7/12 lg:ml-auto mt-12 mb-20 text-center">
                  <h2 class="text-white text-5xl font-bold font-sans">ArmA Reforger</h2>
                  <hr class="translate-x-1/2 w-1/2">
                  <br>
                  <span class="mb-12 text-xl">Moving on from ArmA 3, Reforger is the current stepping stone in COALITIONs central ArmA milsim gameplay experience. COALITION ArmA gameplay includes:</span>
                  <div class="container">
                    <ul class="list-disc inline-block text-left text-xl m-5">
                        <li>Organized and Structured Gameplay</li>
                        <li>Private campaigns</li>
                        <li>128 player events</li>
                        <li>COALITION Fight Club</li>
                        <li>Public modded conflict servers</li>
                    </ul>
                  </div>
                  <span class="mb-12 text-xl">From making mods for the Reforger community to hosting events for both communities and individuals to enjoy, COALITION is the place for Reforger gameplay.</span>
                </div>
              </div>
            </div>
          </section>
          <section class="relative lg:py-20 overflow-hidden">
            <img class="lg:absolute lg:top-0 lg:left-0 h-128 lg:h-auto max-h-screen w-full lg:w-5/12 object-cover" src="./assets/images/war-thunder-ih.jpg" alt="">
            <div class="container px-4 mx-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-full lg:w-7/12 lg:ml-auto mt-12 mb-20 text-center">
                  <h2 class="text-white text-5xl font-bold font-sans">War Thunder</h2>
                  <hr class="translate-x-1/2 w-1/2">
                  <br>
                  <span class="mb-12 text-xl"></span>
                </div>
              </div>
            </div>
          </section>

          <hr>
          <section class="relative lg:py-20 overflow-hidden">
            <img class="lg:absolute lg:top-0 lg:left-0 h-128 lg:h-auto max-h-screen w-full lg:w-5/12 object-cover" src="./assets/images/lmg.png" alt="">
            <div class="container px-4 mx-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-full lg:w-7/12 lg:ml-auto mt-12 mb-20 text-center">
                  <h2 class="text-white text-5xl font-bold font-sans">HOW TO JOIN US</h2>
                  <hr class="translate-x-1/2 w-1/2">
                  <br>
                  <span class="mb-12 text-xl">Simple! Join the coalition discord via the button below! In order to see channels of your preference, you need to grab your roles and community notifications from the Roles channel. Additionally, we urge users to register themselves under the ArmA section in order to be able to participate in more private hosted events.</span>
                  <div class="flex flex-wrap justify-center"><a class="mt-5 w-full md:w-auto px-8 py-4 mb-4 md:mb-0 md:mr-4 bg-red-900 hover:bg-red-300 text-sm text-white font-medium leading-normal rounded" href="#">Register on Discord</a></div>
                </div>
              </div>
            </div>
          </section>
    </div>
</div>


