<div class="home text-white justify-center content-center text-center p-5">
    <div class="relative h-screen">
        <div class="absolute inset-0 bg-cover bg-center justify-center content-center" style="background-image: url('./assets/images/home.png'); background-repeat: no-repeat;"></div>
        <div class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center flex-col">
            <span class="text-white text-6xl font-bold font-serif">ACCESIBLE MILSIM</span>
            <span class="text-white text-2xl font-serif mt-2">and gaming</span>
        </div>
    </div>

    <hr>
    <br>
    <p>About Us</p>
    <br>

    <hr>
    <br>
    <p>What We Do</p>
    <br>

    <hr>
    <br>
    <p>How to Join In</p>
    <br>
</div>