.home-title {
    text-shadow: 1px 1px 2px black;
    @apply text-white text-3xl font-bold font-sans
}

.home-medium-title {
    text-shadow: 1px 1px 2px black;
    @apply text-white text-xl font-sans
}

.home-small-title {
    text-shadow: 1px 1px 2px black;
    @apply text-white text-sm font-sans
}

.home-text {
    @media (screen(lg)) {
        @apply text-lg
    }

    text-shadow: 1px 1px 2px black;
    @apply text-sm;
    @apply text-white text-justify;
    
}