<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="home text-white justify-center content-center text-center">
  <div class="relative h-dvh">
    <div class="absolute inset-0 bg-cover bg-center justify-center content-center bg-fixed" style="background-image: url('./assets/images/multi-piece/Coalition_Reforger_Spiral_Blur_USSR_Tunnel.png'); background-repeat: no-repeat;"></div>
    <div class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center flex-col">
      <img class="h-2/5 w-auto z-20 lg:z-0" ngSrc="./assets/images/logo_cropped.png" width="100" height="100" priority>
      <div class="z-20 lg:z-0">
        <p class="text-white lg:text-5xl text-4xl font-bold font-sans lg:z-0">ACCESSIBLE MILSIM</p>
        <p class="text-white lg:text-xl text-large font-sans lg:z-0">AND GAMING</p>
      </div>
      <div class="absolute inset-0 bg-cover bg-center justify-center content-center bg-fixed lg:z-10" style="background-image: url('./assets/images/multi-piece/Coalition_Reforger_Cutout_USSR_Tunnel.png'); background-repeat: no-repeat;"></div>
    </div>
  </div>

  <div id="main-content" class="relative">
    <div class="absolute inset-0 bg-cover bg-center bg-fixed -z-10" style="background-image: url('./assets/images/charlet_bay_dusk.jpg'); background-repeat: no-repeat;"></div>
    <!-- <div class="absolute inset-0 bg-black bg-opacity-30 flex items-center justify-center flex-col -z-10"></div> -->
    <section id="about" class="animate-on-scroll w-full h-dvh content-center flex flex-col" data-aos="fade-up" data-aos-duration="700">
      <div class="flex flex-col lg:flex-row justify-center h-full">
        <div id="about-text" class="lg:w-2/5 lg:mx-0 mx-auto md:w-3/4 w-full my-auto">
          <div class="content-center py-4 px-8">
            <div class="px-10 justify-center">
              <p class="home-small-title text-left drop-shadow">WHO WE ARE</p>
              <p class="home-title text-left">An accessible milsim gaming community</p>
              <br>
              <p class="home-text mb-8">COALITION, founded in 2016, began as an 18+ gaming community for ArmA and other milsim games. Over the years, it has grown to include thousands  of international players who participate in a variety of multiplayer games such as DayZ, War Thunder, Squad, Reforger, and DCS.</p>
              <p class="home-text">COALITION is more than just a gaming community; it's a hub for mod creators and events. Whether you're part of a community or an individual player, COALITION is the place to be for Reforger.</p>
            </div>
          </div>
        </div>
  
        <div class="w-2/5 my-auto mx-auto lg:mx-0 lg:block hidden">
          <img class="object-cover h-full w-auto" ngSrc="./assets/images/line_formation.jpg" alt="" width="100" height="100" priority>
        </div>
      </div>

      <div class="center-content flex flex-col justify-center">
        <span class="text-md" style="text-shadow: 1px 1px 2px black;">WHAT WE</span>
        <svg [cIcon]="icons.cilChevronBottom" customClass="self-center" class="self-center" width="50"></svg>
      </div>
    </section>

    <!-- TODO
    fade in animations
    
    make column events always start in center of the div

    header 
    -->

    
    <section id="events" class="animate-on-scroll w-full justify-center h-dvh" data-aos="fade-up" data-aos-duration="700">
      <c-carousel [interval]="15000" (itemChange)="onItemChange($event)" class="relative" transition="slide">
        <c-carousel-inner>
          <c-carousel-item *ngFor="let event of events" class="">
            <div class="w-full flex flex-col lg:flex-row h-dvh justify-center">
              <div class="w-1/2 lg:w-2/5 mx-auto lg:mr-0 my-auto">
                <img class="object-cover h-full w-auto" ngSrc="{{event.src}}" alt="" width="100" height="100">
              </div>
              <span class="h-5"></span>
              <div class="w-3/5 mx-auto lg:ml-0 lg:w-2/5 my-auto">
                <div class="content-center lg:py-4 px-8">
                  <div class="px-10 justify-center">
                    <h2 class="home-title">{{event.title}}</h2>
                    <h3 class="home-medium-title"> {{ event.nextEventDate.cstDay }} &#64; {{ event.nextEventDate.cstHour }}  {{ coalTimezoneStr }}</h3>
                    @if (localTimezone != coalTimezone) {
                      <p class="home-medium-title">&#40; {{ event.nextEventDate.localDay }} &#64; {{ event.nextEventDate.localHour }} {{ localTimezoneStr }} &#41;<p>
                    }
                    <br>
                    <p class="home-text">
                      {{event.about}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="&ZeroWidthSpace;" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="&ZeroWidthSpace;" direction="next"></c-carousel-control>
        <c-carousel-indicators></c-carousel-indicators>
      </c-carousel>
    </section>
  </div>

  <section class="relative h-dvh">
    <div class="flex h-full absolute inset-0 bg-cover bg-center bg-fixed justify-center content-center" style="background-image: url('./assets/images/lmg.jpg'); background-repeat: no-repeat;">
      <div class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center flex-col place-content-center">
        <div class="w-1/2">
          <h2 class="text-white lg:text-5xl md:text-4xl text-3xl font-bold font-sans">Wanna get in on the action?</h2>
          <br>
          <div class="flex flex-wrap justify-center"><a class="mt-5 w-full md:w-auto px-8 py-4 mb-4 md:mb-0 md:mr-4 bg-red-900 hover:bg-red-300 text-sm text-white font-medium leading-normal rounded" href="https://discord.gg/the-coalition" target="_blank">Register on Discord</a></div>
        </div>
      </div>

      <div class="self-end flex flex-col z-10 mb-2">
        <a class="self-center grow-none mb-6" href="https://x.com/COALITIONARMA" target="_blank">
          <img class="w-6" src="./assets/x_logo.png">
        </a>
        <span class="text-xs text-neutral-600">{{quoteToDisplay}}</span>
      </div>
    </div>
  </section>
</div>